<div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body">
                <app-signup-form></app-signup-form>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
              <div class="card card-body">
                <app-signin-form></app-signin-form>
              </div>
            </div>
          </div>
        </div>
</div>